.machine-top-wrapper{
    .machine-top-row{
        margin-top: 40px;
        .machine-title{
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
        }
        .machine-subtitle{
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 18px;
            margin-top: 3px;
            text-transform: uppercase;
            color: #a28437;
        }
        .machine-description{
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 17px;
            overflow: visible;
            margin-top: 15px;
        }
        .anchor-to{
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 21px;
            border-bottom: 1px solid #4c4c4c;
            transition: .3s;
            color: #000;
            padding-bottom: 2px;
            &:hover{
                border-bottom: 1px solid #986f38;
                color: #986f38;
            }
        }
    }
}