.machine-top-wrapper{
    .machine-top-row{
        margin-top: 40px;
        .machine-title{
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
        }
        .machine-subtitle{
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 18px;
            margin-top: 3px;
            text-transform: uppercase;
            color: #a28437;
        }
        .machine-description{
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 17px;
            overflow: visible;
            margin-top: 15px;
        }
        .anchor-to{
            text-decoration: none;
            font-weight: 400;
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 21px;
            border-bottom: 1px solid #4c4c4c;
            transition: .3s;
            color: #000;
            padding-bottom: 2px;
            &:hover{
                border-bottom: 1px solid #986f38;
                color: #986f38;
            }
        }
        .machine-extra-features{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 35px;
                margin-right: 10px;
            }
            p{
                margin: 0;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1px;
                line-height: 18px;
                text-transform: uppercase;
                color: #000;
            }
        }
        &.machine-main-tab{
            .machine-main-tab-col{
                padding: 0;
                .machine-main-card{
                    min-height: 205px;
                    border: none;
                    text-align: center;
                    &.aanbieding-card{
                        .aanbieding-card-active{
                            background-color: rgba(0,0,0,.03);
                        }
                        .card-body{
                            border-left: 1px solid rgba(0,0,0,.08);
                        }
                    }
                    .card-header{
                        margin: 0;
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 1px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #000;
                        border: none;
                    }
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .card-title{
                        color: #a28437;
                        font-size: 28px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        line-height: 17px;
                    }
                    p{
                        font-size: 14px;
                    }
                    button{
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
.machine-shopping-wrapper{
    background-color: rgba(0,0,0,.03);
    padding: 40px 0;
    .shopping-inner{
        h3{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            .stepUp{
                font-size: 21px;
                letter-spacing: 2px;
                font-weight: 600;
                margin-right: 10px;
            }
        }
        .product-choice{
            .choices-box{
                max-width: 250px;
                box-sizing: border-box;
                .choice-box-wrapper{
                    background-color: #fff;
                    padding: 10px;
                    min-height: 355px;
                    margin-top: 20px;
                    &.choice-box-machine{
                        text-align: center;
                        .choice-box-main-image{
                            max-width: 150px;
                            display: block;
                            margin: auto;
                        }
                        .product-name{
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            margin-top: 20px;
                        }
                        .product-price{
                            color: #a28437;
                            font-size: 28px;
                            font-weight: 400;
                            letter-spacing: 1px;
                            line-height: 17px;
                        }
                    }
                    &.choice-box-color{
                        h4{
                            font-weight: 700;
                            font-size: 12px;
                            letter-spacing: 1px;
                            line-height: 18px;
                            text-transform: uppercase;
                            text-align: center;
                        }
                        ul{
                            padding: 0;
                            margin-top: 20px;
                            li{
                                margin-bottom: 10px;
                                cursor: pointer;
                                padding: 5px;
                                position: relative;
                                border: 1px solid #ccc;
                                &.color-list-active{
                                    border: 1px solid #000;
                                    &:after{
                                        content: '';
                                        width: 11px;
                                        height: 10px;
                                        background-color: #fff;
                                        position: absolute;
                                        border-radius: 50%;
                                        left: 12px;
                                        top: 14px;
                                        border: 1px solid #ccc;
                                        pointer-events: none!important;
                                    }
                                    .choice-box-color-desc{
                                        border-bottom: 1px solid #000;
                                    }
                                }
                                .choice-box-color-dash{
                                    border-radius: 50%;
                                    width: 25px;
                                    margin-right: 20px;
                                    border: 1px solid #ccc;
                                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.6);
                                }
                                .choice-box-color-desc{
                                    font-size: 10px;
                                    letter-spacing: 1px;
                                    line-height: 18px;
                                    text-transform: uppercase;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}