.machine-col{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.machine-title{
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}
.machine-subtitle{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18px;
    margin-top: 3px;
    text-transform: uppercase;
    color: #a28437;
}
.machine-description{
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 17px;
    overflow: visible;
    margin-top: 15px;
}
.machine-photos-banner{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 50%;
    }
}
.machine-visualblock-text-wrap{
    background: linear-gradient(to right,#595959 0,#333 100%);
    .machine-visualblock-text{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        height: 100%;
        h3{
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 17px;
            margin-top: 20px;
        }
    }
}