.machine-about-wrapper{
    h3{
        font-size: 21px;
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 40px 0;
        text-align: center;
        color: #000;
    }
}