.machine-photos-banner{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 50%;
    }
}
.machine-visualblock-text-wrap{
    background: linear-gradient(to right,#595959 0,#333 100%);
    .machine-visualblock-text{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10%;
        height: 100%;
        h3{
            font-size: 21px;
            line-height: 25px;
            letter-spacing: 2px;
            font-weight: 300;
            text-transform: uppercase;
        }
        p{
            font-size: 13px;
            letter-spacing: 1px;
            line-height: 17px;
            margin-top: 20px;
        }
    }
}
.machine-lifestyle{
    display: flex;
    .machine-lifestyle-main-iamge{
        width: 50%;
    }
}